<a href="https://colab.research.google.com/github/MaximTislenko/Acspect_patronum/blob/main/%D0%94%D0%BE%D0%B1%D1%80%D0%BE_%D0%BF%D0%BE%D0%B6%D0%B0%D0%BB%D0%BE%D0%B2%D0%B0%D1%82%D1%8C_VOZ_20_01_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd

In [ ]:
df = pd.DataFrame({'A':(0, 1, 2, 3, 4),
                   'B' : (0.5558, 0.4568, 0.7856, 0.5512, 0.8568),
                   'C' : (0.2364, 0.7896, 1.2356, 4.5618, 0.1234),
                   'D' : (0.1234, 0.5678, 0.9123, 0.4567, 0.8912)})
df.dtypes

A      int64
B    float64
C    float64
D    float64
dtype: object

In [ ]:
df

   A       B       C       D
0  0  0.5558  0.2364  0.1234
1  1  0.4568  0.7896  0.5678
2  2  0.7856  1.2356  0.9123
3  3  0.5512  4.5618  0.4567
4  4  0.8568  0.1234  0.8912

In [ ]:
# df['A']
df['C']

0    0.2364
1    0.7896
2    1.2356
3    4.5618
4    0.1234
Name: C, dtype: float64

In [ ]:
af.at ()

# Если >3

In [1]:
L = -1.7862
M = 16.9392
S = 0.11070
BMI = 30

In [2]:
z_ind = (((BMI/M)**L)-1)/(S*L)
print(z_ind)

3.2353902101095855

In [3]:
SD3_poz = M*(1+L*S*3)**(1/L)
print(SD3_poz)

28.027109026075397

In [4]:
SD2_poz = M*(1+L*S*2)**(1/L)
print(SD2_poz)

22.452436167398304

In [6]:
sd23_pos = SD3_poz - SD2_poz
print(sd23_pos)

5.5746728586770935

In [7]:
z_ind_real = 3 + ((BMI - SD3_poz)/sd23_pos)
print(z_ind_real)

3.35390255606726

##Итоговая формула > 3

In [9]:
z_ind_real_poz = 3 + ((BMI - (M*(1+L*S*3)**(1/L)))/((M*(1+L*S*3)**(1/L)) - (M*(1+L*S*2)**(1/L))))
print(z_ind_real)

3.35390255606726

#Если < -3

In [11]:
L = -1.3529
M = 20.4951
S = 0.12579
BMI = 14

In [12]:
z_ind = (((BMI/M)**L)-1)/(S*L)
print(z_ind)

-3.9645435351654656

## Итоговая формула < -3

In [14]:
z_ind_real_neg = -3 + ((BMI - (M*(1+L*S*-3)**(1/L)))/((M*(1+L*S*-2)**(1/L)) - (M*(1+L*S*-3)**(1/L))))
print(z_ind_real)

-3.794790928768083

#Если >= -3  &  <= 3

In [15]:
L = -1.6318
M = 16.0490
S = 0.10038
BMI = 19

In [16]:
z_ind = (((BMI/M)**L)-1)/(S*L)
print(z_ind)

1.4698319520484722

In [43]:
df = pd.DataFrame({'age':(132, 162, 108, 3, 4),
                   'L' : (-1.7862, -1.3529, -1.6318, 0.5512, 0.8568),
                   'M' : (16.9392, 20.4951, 16.0490, 4.5618, 0.1234),
                   'S' : (0.11070, 0.12579, 0.10038, 0.4567, 0.8912)})

In [44]:
df.reset_index(drop=True)

   age       L        M        S
0  132 -1.7862  16.9392  0.11070
1  162 -1.3529  20.4951  0.12579
2  108 -1.6318  16.0490  0.10038
3    3  0.5512   4.5618  0.45670
4    4  0.8568   0.1234  0.89120