<a href="https://colab.research.google.com/github/MaximTislenko/Acspect_patronum/blob/main/%D0%94%D0%BE%D0%B1%D1%80%D0%BE_%D0%BF%D0%BE%D0%B6%D0%B0%D0%BB%D0%BE%D0%B2%D0%B0%D1%82%D1%8C_20_01_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [118]:
import pandas as pd

In [119]:
df = pd.DataFrame({'A':(0, 1, 2, 3, 4),
                   'B' : (0.5558, 0.4568, 0.7856, 0.5512, 0.8568),
                   'C' : (0.2364, 0.7896, 1.2356, 4.5618, 0.1234),
                   'D' : (0.1234, 0.5678, 0.9123, 0.4567, 0.8912)})
df.dtypes

A      int64
B    float64
C    float64
D    float64
dtype: object

In [120]:
df

   A       B       C       D
0  0  0.5558  0.2364  0.1234
1  1  0.4568  0.7896  0.5678
2  2  0.7856  1.2356  0.9123
3  3  0.5512  4.5618  0.4567
4  4  0.8568  0.1234  0.8912

In [121]:
# df['A']
df['C']

0    0.2364
1    0.7896
2    1.2356
3    4.5618
4    0.1234
Name: C, dtype: float64

# Если >3

In [122]:
L = -1.7862
M = 16.9392
S = 0.11070
BMI = 30

In [123]:
z_ind = (((BMI/M)**L)-1)/(S*L)
print(z_ind)

3.2353902101095855

In [124]:
SD3_poz = M*(1+L*S*3)**(1/L)
print(SD3_poz)

28.027109026075397

In [125]:
SD2_poz = M*(1+L*S*2)**(1/L)
print(SD2_poz)

22.452436167398304

In [126]:
sd23_pos = SD3_poz - SD2_poz
print(sd23_pos)

5.5746728586770935

In [127]:
z_ind_real = 3 + ((BMI - SD3_poz)/sd23_pos)
print(z_ind_real)

3.35390255606726

##Итоговая формула > 3

In [128]:
z_ind_real_poz = 3 + ((BMI - (M*(1+L*S*3)**(1/L)))/((M*(1+L*S*3)**(1/L)) - (M*(1+L*S*2)**(1/L))))
print(z_ind_real)

3.35390255606726

#Если < -3

In [129]:
L = -1.3529
M = 20.4951
S = 0.12579
BMI = 14

In [130]:
z_ind = (((BMI/M)**L)-1)/(S*L)
print(z_ind)

-3.9645435351654656

## Итоговая формула < -3

In [131]:
z_ind_real_neg = -3 + ((BMI - (M*(1+L*S*-3)**(1/L)))/((M*(1+L*S*-2)**(1/L)) - (M*(1+L*S*-3)**(1/L))))
print(z_ind_real)

3.35390255606726

#Если >= -3  &  <= 3

In [132]:
L = -1.6318
M = 16.0490
S = 0.10038
BMI = 19

In [133]:
z_ind = (((BMI/M)**L)-1)/(S*L)
print(z_ind)

1.4698319520484722

In [134]:
df = pd.DataFrame({'age':(132, 162, 108, 3, 4),
                   'L' : (-1.7862, -1.3529, -1.6318, 0.5512, 0.8568),
                   'M' : (16.9392, 20.4951, 16.0490, 4.5618, 0.1234),
                   'S' : (0.11070, 0.12579, 0.10038, 0.4567, 0.8912)})

In [135]:
df.reset_index(drop=True)

   age       L        M        S
0  132 -1.7862  16.9392  0.11070
1  162 -1.3529  20.4951  0.12579
2  108 -1.6318  16.0490  0.10038
3    3  0.5512   4.5618  0.45670
4    4  0.8568   0.1234  0.89120

In [136]:
df.dtypes

age      int64
L      float64
M      float64
S      float64
dtype: object

In [137]:
df.iat[1,1]

np.float64(-1.3529)

In [138]:
df

   age       L        M        S
0  132 -1.7862  16.9392  0.11070
1  162 -1.3529  20.4951  0.12579
2  108 -1.6318  16.0490  0.10038
3    3  0.5512   4.5618  0.45670
4    4  0.8568   0.1234  0.89120

In [139]:
new_var = df[df['age'] == 108].iat[0, 2]
new_var

np.float64(16.049)

In [140]:
# @title ФУНКЦИЯ
def calculation (age, BMI):
  L = df[df['age'] == age].iat[0, 1]
  M = df[df['age'] == age].iat[0, 2]
  S = df[df['age'] == age].iat[0, 3]
  z_ind = (((BMI/M)**L)-1)/(S*L)
  if z_ind > 3:
    z_ind = 3 + (BMI - M*(1+L*S*3)**(1/L))/(M*(1+L*S*3)**(1/L) - M*(1+L*S*2)**(1/L))

  if z_ind < -3:
    z_ind = -3 + ((BMI - (M*(1+L*S*-3)**(1/L)))/((M*(1+L*S*-2)**(1/L)) - (M*(1+L*S*-3)**(1/L))))

  print(z_ind)

In [141]:
calculation (108, 19)

1.4698319520484722

In [142]:
calculation(132, 30)

3.35390255606726

In [143]:
calculation(162, 14)

-3.794790928768083

#Экспорт файла

In [148]:
df=pd.read_excel('/content/hfa-boys-z-who-2007-exp.xlsx')
df

,Month,L,M,S,StDev,SD5neg,SD4neg,SD3neg,SD2neg,SD1neg,SD0,SD1,SD2,SD3,SD4
0,61,1,110.2647,0.04164,4.5914,87.308,91.899,96.490,101.082,105.673,110.265,114.856,119.448,124.039,128.630
1,62,1,110.8006,0.04172,4.6226,87.688,92.310,96.933,101.555,106.178,110.801,115.423,120.046,124.668,129.291
2,63,1,111.3338,0.04180,4.6538,88.065,92.719,97.373,102.026,106.680,111.334,115.988,120.641,125.295,129.949
3,64,1,111.8636,0.04187,4.6837,88.445,93.129,97.812,102.496,107.180,111.864,116.547,121.231,125.915,130.599
4,65,1,112.3895,0.04195,4.7147,88.816,93.531,98.245,102.960,107.675,112.390,117.104,121.819,126.534,131.248
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,224,1,176.4453,0.04168,7.3542,139.674,147.028,154.383,161.737,169.091,176.445,183.800,191.154,198.508,205.862
164,225,1,176.4724,0.04159,7.3395,139.775,147.114,154.454,161.793,169.133,176.472,183.812,191.151,198.491,205.830
165,226,1,176.4976,0.04150,7.3247,139.874,147.199,154.524,161.848,169.173,176.498,183.822,191.147,198.472,205.796
166,227,1,176.5211,0.04142,7.3115,139.964,147.275,154.587,161.898,169.210,176.521,183.833,191.144,198.456,205.767
167,228,1,176.5432,0.04134,7.2983,140.052,147.350,154.648,161.947,169.245,176.543,183.841,191.140,198.438,205.736

In [156]:
df_z_boys_5_19 = pd.read_excel('/content/hfa-boys-z-who-2007-exp.xlsx', usecols=['Month', 'L', 'M', 'S'], index_col= 'Month')
df_z_boys_5_19

       L         M        S
Month
61     1  110.2647  0.04164
62     1  110.8006  0.04172
63     1  111.3338  0.04180
64     1  111.8636  0.04187
65     1  112.3895  0.04195
...   ..       ...      ...
224    1  176.4453  0.04168
225    1  176.4724  0.04159
226    1  176.4976  0.04150
227    1  176.5211  0.04142
228    1  176.5432  0.04134

[168 rows x 3 columns]

In [158]:
df_z_boys_5_19 = pd.read_excel('/content/hfa-boys-z-who-2007-exp.xlsx', usecols=['Month', 'L', 'M', 'S'])
df_z_boys_5_19

     Month  L         M        S
0       61  1  110.2647  0.04164
1       62  1  110.8006  0.04172
2       63  1  111.3338  0.04180
3       64  1  111.8636  0.04187
4       65  1  112.3895  0.04195
..     ... ..       ...      ...
163    224  1  176.4453  0.04168
164    225  1  176.4724  0.04159
165    226  1  176.4976  0.04150
166    227  1  176.5211  0.04142
167    228  1  176.5432  0.04134

[168 rows x 4 columns]

In [163]:
def calculation_boys_z_5_19 (Month, BMI):
  L = df[df['Month'] == Month].iat[0, 1]
  M = df[df['Month'] == Month].iat[0, 2]
  S = df[df['Month'] == Month].iat[0, 3]
  z_ind = (((BMI/M)**L)-1)/(S*L)
  if z_ind > 3:
    z_ind = 3 + (BMI - M*(1+L*S*3)**(1/L))/(M*(1+L*S*3)**(1/L) - M*(1+L*S*2)**(1/L))

  if z_ind < -3:
    z_ind = -3 + ((BMI - (M*(1+L*S*-3)**(1/L)))/((M*(1+L*S*-2)**(1/L)) - (M*(1+L*S*-3)**(1/L))))

  print(z_ind)

In [174]:
calculation_boys_z_5_19(223, 140)

-4.941874214832591

In [159]:
df_z_boys_5_19.dtypes

Month      int64
L          int64
M        float64
S        float64
dtype: object